{% extends 'base.html' %}

{% block title %}
Şəxsi heyyət
{% endblock %}

{% block body %}
<h1>NÖVBƏ 4</h1>
<p></p>
<p></p>
<p></p>
<h4>Qasımlı Anar - Böyük inspektor</h4>
<p></p>
<p></p>
<p></p>
<h4>Qulu-zadə Yusif - Böyük inspektor</h4>
<p></p>
<p></p>
<p></p>
<h4>Səmədova Dilarə - Böyük inspektor</h4>
<p></p>
<p></p>
<p></p>
<h4>Əliyev Nurlan - İnspektor</h4>
<p></p>
<p></p>
<p></p>
<h4>Nağıyev Elmar - İnspektor</h4>
<p></p>
<p></p>
<p></p>
<h4>Okançuk Anna - İnspektor</h4>
<p></p>
<p></p>
<p></p>
<h4>Allahverdiyeva Şəmsiyyə - İnspektor</h4>
<p></p>
<p></p>
<p></p>
{% endblock %}