{% extends 'base.html' %}

{% block title %}
Şəxsi heyyət
{% endblock %}

{% block body %}
<h1>Состав</h1>
<p></p>
<p></p>
<p></p>
<h4>John - Chief inspector</h4>
<p></p>
<p></p>
<p></p>
<h4>Alex - inspector</h4>
<p></p>
<p></p>
<p></p>
<h4>Bob - inspector</h4>
<p></p>
<p></p>
<p></p>
<h4>Charly - inspector</h4>
<p></p>
<p></p>
<p></p>
<h4>Dady - inspector</h4>
<p></p>
<p></p>
<p></p>
<h4>Michael - inspector</h4>
<p></p>
<p></p>
<p></p>
<h4>Micky - inspector</h4>
<p></p>
<p></p>
<p></p>
{% endblock %}